/* 
font-family: 'OpenSans', sans-serif;
font-family: 'OswaldBold', sans-serif;
font-family: 'OswaldMedium', sans-serif;
font-family: 'OswaldRegular', sans-serif; 
*/
/* Обнуление */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;  
}
/* Переменные с цветами */
:root {
  --accent-color: #F7654A;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #FFFFFF;
  --background-color: #E5E5E5;
}
/* Стили для текцта */
.text_h2{
  font-family: 'OswaldMedium', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.text_h3{
  font-family: 'OswaldMedium', sans-serif;
  font-size: 24px;
}
.text_h4{
  font-family: 'OswaldMedium', sans-serif;
  font-size: 21px;
}
.text_p{
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
}
.text_p-reviews{
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
/* Когтейнер */
.container{
  max-width: 1110px;
  margin: 0 auto;
}
/* header */
.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__menu {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 112px;
}
.logo {
  width: 60px;
  height: 60px;
}
.burger {
  width: 50px;
  height: 50px;
  padding: 0;
  bottom: none;
  background-color: var(--accent-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #FFFFFF;
  margin-bottom: 4px;
}
.burger__line:last-child {
  margin-bottom: 0;
}
.header__title {
  font-family: 'OswaldRegular', sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.045em;  
  max-width: 730px;
  margin: 0 auto 19px;
}
.header__subtitle {
  font-family: 'OswaldRegular', sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.013em;  
  max-width: 730px;
  margin: 0 auto;
}
/* about */
.about {
  padding-top: 250px; 
  padding-bottom: 123px;
  position: relative;
}
.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 57px 130px;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about__grid-item {
  text-align: center;
  width: 190px;
}
.about__h4 {
  font-family: 'OswaldMedium', sans-serif;
  color: var(--accent-color);
  font-size: 72px;
  padding-bottom: 4px;
}
.about__h5 {
  font-family: 'OswaldRegular', sans-serif;
  color: var(--dark-color);
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 1px;
}
.about__p {
  font-family: 'OswaldMedium', sans-serif;
  color: var(--gray-color);
  font-size: 18px;
  text-transform: lowercase;  
}
/* Проекты */
.project__h2 {
  text-align: center;
  padding-bottom: 53px;
}
.about__flex {
  display: flex;
}
.about__flex-item {
  max-width: 350px;
  margin-right: 30px;
}
.about__flex-item:last-child {
  margin-right: 0;
}
.project__img {
  margin-bottom: 45px;
}
.about__lin {
  width: 55px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 12px;
}
.project__h3 {
  color: var(--dark-color);
  margin-bottom: 13px;
}
.project__p {
  color: var(--gray-color);
  letter-spacing: 0.15em;
}
/* request */
.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 42px;
}
.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request__title {
  font-family: 'OswaldBold', sans-serif;
  color: var(--white-color);
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.022em;
  margin-bottom: 5px;
}
.request__subtitle {
  font-family: 'OswaldBold', sans-serif;
  color: var(--white-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.022em;
}
.request__btn {
  margin-top: 27px;
  display: flex;
  padding: 14px 30px;
  align-items: center;
  width: 175px;
  height: 49px;  
  border: none;
  background-color: var(--white-color);
  font-family: 'OswaldMedium', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  
}
.request__icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}
/* servises */
.services {
  padding-top: 145px;
  padding-bottom: 150px;
}
.services__title {
  text-align: center;
  padding-bottom: 57px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
.services__grid-item {
  background-color: #f7f7f7;
  padding: 59px 89px;
  
}
.services__img {
  width: 60px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  
}
.services__h4 {
  width: 172px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'OswaldRegular', sans-serif; 
}
/* portfolio */
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 0;
}
/* question */
.question {
  padding-top: 150px;
  padding-bottom: 113px;
}
.question__text {
  text-align: center;
  padding-bottom: 51px;
}
.question__h3 {
  color: var(--accent-color);
  text-transform: uppercase;  
}
.question__h3.open::before, .question__h3.close::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.question__h3.close::before {
transform: rotate(90deg);
}
.question__h3.close + .question__p {
  display: none;
}
.close {
  padding-bottom: 33px;
}
.open {
  padding-bottom: 22px;
}
.question__p {
  color: var(--gray-color);
  padding-bottom: 35px;
  width: 558px;
}
/* partners */
.partners {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.partners__h2 {
  text-align: center;
  color: var(--white-color);
  padding-bottom: 47px;
}
.partners__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* reviews */
.reviews {
  padding-top: 150px;
  padding-bottom: 150px;
}
.reviews__h2 {
  text-align: center;
  padding-bottom: 60px;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.reviews__card {
  padding: 0 30px 30px 30px;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}
.reviews__qoutes {
  font-family: 'OswaldBold', sans-serif;
  font-size: 96px;
  color: var(--accent-color);
  height: 65px;
  margin-bottom: 20px;
}
.reviews__p {
  color: var(--gray-color);
  letter-spacing: 0.09em;
}
.reviews__author {
  color: var(--accent-color);
  margin-left: 8px;
}
/* contacts */
.contacts {
  padding: 95px 0 150px;
}
.contacts__h2 {
  text-align: center;
  padding-bottom: 60px;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.contacts__img {
  height: 53px;
  margin-bottom: 10px;
}
.contacts__h3-gray {
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 19px;
  text-transform: uppercase;
}
.contacts__h3 {
  text-align: center;
  text-transform: uppercase;
}
.contacts__h3-accent {
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}
/* footer */
.footer {
  background-color: var(--dark-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__item {
}
.footer__p {
  color: var(--white-color);

}
/* адаптация для планшетов */
@media screen and (max-width: 1280px){
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about {
    padding: 450px 15px 110px;
  }
  .request {
    padding-right: 15px;
    padding-left: 15px;
  }
   .services {
    padding-right: 15px;
    padding-left: 15px;
  }
  .services__grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio {
    padding-right: 15px;
    padding-left: 15px;
  }
  .question {
    padding-right: 15px;
    padding-left: 15px;
  }
  .partners__flex {
    justify-content: center;
  }
  .partners__item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .reviews {    
    padding-right: 15px;
    padding-left: 15px;
  }  
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .footer__flex {
    justify-content: space-around;
  }
}
/* адаптация для смартфонов */
@media screen and (max-width: 768px){
  .header__menu{
    margin-bottom: 40px;
  }
  .header__title {
    max-width: 500px;
  }
  .info {
    position: relative;
  }
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .about__flex {
    flex-direction: column;
    align-items: center;
  }
  .about__flex-item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about__flex-item:last-child {
    margin-bottom: 0;
  }
  .request__flex {
    flex-wrap: wrap;
  }
  .services__grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  }
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .question {
    padding: 150px 15px 110px;
  }
  .question__p {
    width: 350px;
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews {
    padding: 150px 15px 110px;
  }
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts {
    padding: 150px 15px 110px;
  }
  .footer__flex {
    flex-direction: column;
    align-items: center;
  }
}

